{% extends 'tasks/base.html' %}

{% block content %}
    <div class="container my-4">
        <h1 class="mb-4">Детали задачи</h1>
        <div class="card shadow-sm">
            <div class="card-body">
                <h5 class="card-title">{{ object.title }}</h5>
                <p class="card-text">{{ object.description }}</p>
                
                <ul class="list-group list-group-flush mb-4">
                    <li class="list-group-item">
                        <strong>ID задачи:</strong> {{ object.id }}
                    </li>
                    <li class="list-group-item">
                        <strong>Статус:</strong> 
                        {% if object.completed %}
                            <span class="badge bg-success">Завершено</span>
                        {% else %}
                            <span class="badge bg-warning">Не завершено</span>
                        {% endif %}
                    </li>
                    <li class="list-group-item">
                        <strong>Дата начала:</strong> {{ object.start_date }}
                    </li>
                    <li class="list-group-item">
                        <strong>Дедлайн:</strong> {{ object.deadline }}
                    </li>
                    <li class="list-group-item">
                        <strong>Приоритет:</strong>
                        {% for i in "1"|repeat:object.priority %}
                            <i class="bi bi-fire text-danger"></i>
                        {% endfor %}
                    </li>
                </ul>

                <a href="{% url 'tasks:edit_task' object.id %}" class="btn btn-primary">Редактировать</a>
            </div>
        </div>
    </div>
{% endblock %}
